<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.percolate.coffee"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <activity
            android:name=".activity.CoffeeTypeListViewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.CoffeeTypeDetailedViewAcitivity"
            android:label="@string/title_activity_coffee_type_detailed_view_acitivity"
            android:parentActivityName=".activity.CoffeeTypeListViewActivity">

        </activity>
        <!-- SERVICES -->
        <service
            android:name="com.octo.android.robospice.Jackson2SpringAndroidSpiceService"
            android:exported="false"/>
        <service
            android:name="com.octo.android.robospice.spicelist.okhttp.OkHttpBitmapSpiceService"
            android:exported="false"/>


        <meta-data android:name="DATABASE" android:value="coffee.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.percolate" />


    </application>

</manifest>
